.cell-cityRank {
    display: flex;
    align-items: center;
    gap: 1rem;
    border-radius: 10px;
    padding: 1rem 2rem;
    border: solid 1px transparent;
    height: 7rem;
    
    .gntTier {
        font-size: 1.6rem;
    }
    .schoolName {
        font-size: 1.6rem;
        font-weight: bold;
        flex: 1;
    }
    img {
        width: 4rem;
        height: 4rem;
        object-fit: cover;
    }
}

.cell-cityRank:hover {
    background-color: rgba($color: #04BF8A, $alpha: 0.16);
    border: solid 1px var(--main-color);
}