.rankcell {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1rem;
    border: 1px solid transparent;
    border-radius: 0.8rem;

    .rank {
        width: 10%;
    }

    .gameName {
        width: 30%;
    }

    .schoolInfo {
        width: 20%;
    }

    .tier {
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;

        .tier-img {
            width: 48px;
            height: 48px;
        }

        .tier-detail {
            margin-right: 10px;
        }
    }

    p {
        font-size: 1.6rem;
        color: #D0D5DD;
        text-align: center;
    }
}

.rankcell:hover {
    background-color: rgba($color: #04BF8A, $alpha: 0.16);
    border-color: #04BF8A;
}