.SchoolRank {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-color: var(--background-color);
    
    .ranker-head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgba($color: #39D89C, $alpha: 0.08);
        width: 100%;
        max-width: 1050px;
        margin-top: 6rem;
        padding: 1rem 2rem;
        border-radius: 0.8rem;
        
        p {
            font-size: 1.4rem;
            color: #D0D5DD;
            text-align: center;
        }
        
        .rank {
            width: 10%;
        }
        .profile {
            width: 30%;
        }
        .schoolName {
            width: 20%;
        }
        .gntRank {
            width: 40%;
        }
    }

    // 랭킹테이블 박스
    .ranker-info {
        display: flex;
        flex-direction: column;
        background-color: rgba($color: #39D89C, $alpha: 0.08);
        max-width: 1050px;
        width: 100%;
        margin-top: 1.6rem;
        padding: 2.4rem 3.4rem;
        border: 1px solid #97F8C0;
        border-radius: 0.8rem;
    }
}