:root {
  --background-color: #1D2939;
  --main-color: #02A486;
  --font-color-white: #E8E8E8;
  --font-color-gray: #98A2B3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 100%;
  background-color: var(--background-color);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

